<nav class="navbar navbar-expand-lg custom-navbar" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <img class="navbar-brand-logo" src="/images/brain.png" width="55">
            <a class="navbar-brand" href="/">Trivio</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/"></a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand quiz-link" href="/quiz/1">
                        <img src="/images/history.png" width="40" alt="Icon">
                        <span>RetroWit</span>
                    </a>

                    <a class="navbar-brand quiz-link" href="/quiz/2">
                        <img src="/images/academic.png" width="40" alt="Icon">
                        <span>SmartyParty</span>
                    </a>

                    <a class="navbar-brand quiz-link" href="/quiz/3">
                        <img src="/images/pokemon-go.png" width="40" alt="Icon">
                        <span>Poké-Quiz GO</span>
                    </a>

                    <a class="navbar-brand quiz-link" href="/">
                        <img src="/images/music-notes.png" width="40" alt="Icon">
                        <span>Lyriquizz</span>
                    </a>

                    <a class="navbar-brand quiz-link" href="/">
                        <img src="/images/movie.png" width="40" alt="Icon">
                        <span>Reel iQ</span>
                    </a>

                    <a class="navbar-brand quiz-link" href="/">
                        <img src="/images/tv.png" width="40" alt="Icon">
                        <span>Tv Showdown</span>
                    </a>

                    <a class="navbar-brand quiz-link" href="/">
                        <img src="/images/singer.png" width="40" alt="Icon">
                        <span>Swiftology</span>
                    </a>

                    <a class="navbar-brand quiz-link" href="/">
                        <img src="/images/captain-america.png" width="42" alt="Icon">
                        <span>Marvelous</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>
