.answer-container {
    margin-top: 20px;
}

.answer-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.answer-container li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.answer-container input[type="radio"] {
    margin-right: 7px;
    /*change size of radio button*/
    width: 15px;
    height: 15px;
}

.answer-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.answer-container span {
    font-size: 16px;
}
