<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div class="quiz-name">
         <!-- dynamically loads the name of the quiz a user chose -->
        <h1 th:text="${quiz.title}">Quiz Title</h1>
    </div>
    <!-- id uniquely identifies the button, while data-quiz-id makes retrieving the quiz id in js-->
    <button id="start-quiz-btn" class="btn btn-dark" data-quiz-id="${quiz.quizId}">Start</button>
</div>

<script src="/js/quiz.js"></script>

</body>
</html>