<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>

<div th:replace="fragments/navigation :: nav"></div>

<div class="container mt-4">
    <div class="quiz-name">
        <h1 th:text="${quiz.title}">Quiz Title</h1>
    </div>
    <div class="question-container">
        <p th:text="'Question ' + ${question.questionNumber} + ' of ' + ${totalQuestions}"></p>
        <h2 th:text="${question.questionText}">Question</h2>
    </div>

    <div class="answer-container">
        <form id="answer-options">
            <ul>
                <li th:each="answer : ${answers}">
                    <input type="radio" name="answer" th:value="${answer.answerId}" />
                    <span th:text="${answer.answerText}"></span>
                </li>
            </ul>
        </form>
    </div>

    <button id="next-question-btn" class="btn btn-dark" th:data-quiz-id="${quiz.quizId}">
        Next Question
    </button>

    <input type="hidden" id="current-question-id" th:value="${question.questionNumber}">
</div>

<script src="/js/start.js"></script>

</body>
</html>